<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Text2Entity</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"></p>
      </div>
        <ul class="nav navbar-nav navbar-left">
          <!-- 6 -->
          <li id="home"><a href="/">TEXT to ENTITY</a></li>
          <li id="audio"><a href="/audio">AUDIO</a></li>
          <li id="video"><a href="/video">VIDEO</a></li>
          <li id="object"><a href="/object">OBJECT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/login">Login</a></li>
            <!-- Check Deployment is running -->
          <form action="/serve" method="post"   class="form-inline my-2 my-lg-0">
            <!-- <input   name="deploymentID"   class="form-control mr-sm-2" type="search" value="Product Management-d5516731e5e84d92" aria-label="Search"> -->
            <select name="deploymentID" id="deploymentID">
              <option value="d2515f033d8fedba">Product Master- d2515f033d8fedba</option>
                            
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </ul>
    </div>
  </nav>

  <body>
